.buttonAttendance {
  background-color: #0056D2!important;
  color: white !important;
  width: 14rem !important;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
  /* height: 50%; */
  border-radius:10px !important;
}

.add {
  display: none;
}

.edit {
  color: rgba(0, 86, 210, 1) !important;
  border-color: #80808036 !important;
  background-color: white !important;
  width: 12 px !important;
  border-radius: 8px !important;
  height: 100%;
  font-weight: bolder !important;
  border-width: 2px !important;
  /* box-shadow: 1px 1px 1px 1px rgb(188, 185, 185); */
  padding: 2px;
  /* margin: 5px; */
}
.delete {
  color: rgba(0, 86, 210, 1) !important;
  border-color: #80808036 !important;
  background-color: white !important;
  /* width:90% !important; */
  width: 12 px !important;
  border-radius: 8px !important;
  height: 100%;
  font-weight: bolder !important;
  border-width: 2px !important;
  
  /* box-shadow: 1px 1px 1px 1px rgb(188, 185, 185); */
}
.MainBox{
  margin-left: 50px !important;
}

@media only screen and (max-width: 1207px) {
    .buttonAttendance {
        margin-top: 20px !important;
      }
  }
  @media only screen and (max-width: 505px) {
    .MainBox {
        padding-right: 25px!important;
        /* padding-left: 25px !important;     */
        margin-left: 30px !important;
      }
      /* edit{
        margin-right: 5px !important;
      } */
  }
