.header
{
    /* background-color: aquamarine; */
    /* margin-left: 80%; */
    align-items: end;
    flex-basis: 90%;
    float:"right";
    /* left:42rem */
    /* left:95% */
    /* right: -70%; */
}

/* .upcoming
{
    background-color: blue;
    border-radius: 20em;
} */

.button
{
   color: black !important;
   font-weight: bold !important;
   font-size: medium !important;
   width: 8em !important;
   height: 70%;
   margin-left: 5px !important;
   border-color: rgb(191, 189, 189) !important;
   border-radius: 10px !important;

   
} 

.css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected
{
    color: white !important;
    background-color: blue !important;
}
.SearchBar{
    width: 26rem !important
}
.Filter{
    padding: 0px !important;
    margin: 0px !important;
}
/* .SearchBar:hover{
    width: 20rem !important;
    border: 2px solid blue;
    transition: 0.5s;
} */

@media only screen and (max-width: 750px) {
    .SearchBar{
        width: 20rem !important
    }
  }
  @media only screen and (max-width:600px) {
    .NavList{
        margin-left: 5px !important
    }
  }
  @media only screen and (max-width:505px) {
    .SearchBar{
        width: 12rem !important
    }
  }

