@media screen and (min-width: 1111px){
  .lrGrid{
    display: flex;
    justify-content: space-evenly;
  }
  .logoImage{
    width: 50%!important;
  }
  .Paper {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 35px !important;
    padding-bottom: 35px !important;

  }
  .SapIdTF{
    width:98%!important;
    border-radius: 10px!important;
  }
  .PasswordTF{
    width:98%!important;
    border-radius: 10px!important;
  }
  .LoginBtn{
    width: 98% !important;
    height: 3rem;
  }
  #ForgotPass{
    cursor: pointer;
  }
  /*For ForgotPassword*/
  .EmailTF{
    width:98%!important;
    border-radius: 10px!important;
  }
  .SubmitBtn{
    width: 98% !important;
    height: 3rem;
  }
  #BackToLogin{
    color: #0056D2;
    cursor: pointer;

  }

}



@media screen and (max-width: 1110px) {
    .innerPaper {
      /* */
      /* display: flex;
      align-items: center;
      justify-content: center; */
      max-width: 93% !important;          /* make it !important*/
      width: 36rem;


    }
    .rightGrid{
      display: none !important;
      /* flex-direction: column; */
      background-color:red; 
    }
    .lrGrid{
      /* remove display flex */
      /* display: flex;      */
      align-items: center;
      justify-content: center;
      width: 100%;
      flex-direction: column;
    }
    /* .leftGrid{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    } */
    .Paper{
      width: 10rem;
      border-radius: 20px !important;

    }

    /* .Box{
      width: 100%;
    } */
    .logoImage{
      width: 50% !important;
    }
    
  }
  @media screen and (max-width: 450px){
    .SapIdTypo{
      margin-left: 5%!important;
    }
    .SapIdTF{
      width:90%!important;
      border-radius: 10px!important;
    }
    .PasswordTypo{
      margin-left: 5%!important;
    }
    .PasswordTF{
      width:90%!important;
      border-radius: 10px!important;
    }
    .LoginBtn{
      width: 90% !important;
      height: 3rem;
    }
    .Paper{
      padding-left: 10px !important;
      padding-right: 10px !important;
      padding-top: 20px !important;
      padding-bottom: 30px !important;
      /* elevattion:0;                               imp*/                    

    }
    .leftGrid{
      padding: 0px !important;
    }
    .SignUp{
      display: none ;
    }
    .logoImage{
      width: 80%;
    }
    .OuterMostBox{
      flex-direction: column;
      /* border-radius: 20px; */
    }
    .FirstBox{
      width: 100vw !important;
      height: 125vh !important;
      /* flex-basis: 80%; */
      background-size: contain;
      background-image: url(./images/library.PNG);
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;

    }
    .SecondBox{
      width: 100vw !important;
      height:"40vh";
      background-color: white !important;
      /* flex:"1" */
    }
  }
  